@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/fira-sans-regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/fira-sans-bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/fira-sans-semi-bold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/fira-sans-light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Charter";
  src: url("../fonts/charter-regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Charter";
  src: url("../fonts/charter-bold.otf");
  font-weight: 700;
  font-style: normal;
}
